.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #444;

    > *:nth-child(1) {
      width: 30%;
    }

    > *:nth-child(3) {
      width: 20%;
    }
  }

  th {
    padding-block: 0.5rem;
    font-size: 0.95rem;
    color: #bbb;
  }

  td {
    padding-block: 1rem;
  }
}

.row {
  margin-bottom: 1rem;
}
